.container{
    font-family: Arial, Helvetica, sans-serif;
}
#dong-1{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 350px;
    color: red;
}
#dong-2{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 530px;
    color: red;
}