#header{
    background-image: url(pts/nen.jpg);
}
#body{
    background-image: url(pts/background.jpg);
}
#kien-thuc{
    color: red;
}
#ho-tro{
    color: red;
}
#lien-he{
    color: red;
}